/* style.css */

body.light {
    background-color: #f9f9f9;
    color: #333;
}

body.dark {
    background-color: #222;
    color: #f9f9f9;
}

header {
    text-align: center;
    padding: 20px;
}

section {
    margin: 40px;
}

.project-item {
    cursor: pointer;
    margin: 10px 0;
    padding: 5px;
    border-left: 3px solid #3498db;
}

.project-item:hover {
    background-color: #eef;
}